 <?xml version="1.0" encoding="utf-8"?>
 <!DOCTYPE html
      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
     <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <title>yaVDR-Channelpedia: [PAGE_TITLE]</title>
         <style>
             body { font-family: Arial, sans-serif; font-size: 0.8em; background-color: #dddddd;}
             pre { border: 1px solid black; padding: 5px; background-color: white; overflow: auto;}
             table { font-family: Arial, sans-serif; font-size: 0.8em; background-color: white; border-collapse:collapse;}
             td { border: 1px solid black; padding: 2px;}
             
         </style>
     </head>
     <body>
     