body{
    font-size: 0.80em;
    background-color: #dfe8f6;
    font-family: Arial, sans-serif; 
}

div#pagewrap{
    border: 1px solid #dddddd;
    width: 960px;
    margin: 10px auto;
    padding: 0px 0px 40px 0px;
    background-color: white; 
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
}

div#headerwrap{
    color: white;
    background-color: #4E78B1; 
    margin: 4px;
    padding: 30px 0px 0px 0px;
    border: 0px 0px 3px 0px solid #55555;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 130px;
}

div#mainwrap{
    margin-top: 0px;
    height: 100%;
    padding: 0px 30px 0px 30px;
}

h1{
    font-size: 1.55em;
    color: #4E78B1;
    padding: 2px 0px 2px 0px;
    margin-top: 30px;
}

h2{
    color: white;
    background-color: #4E78B1;
    font-size: 1.35em;
    font-weight: bold;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

 h2.scrambled{
    color: white;
    background-color: #E57A3C;
 }

h3{
    color: black;
    font-size: 1em;
    font-weight: bold;
}

pre { 
    border: 1px solid #4E78B1; 
    padding: 5px;
    margin: 0px;
    background-color: white; 
    overflow: auto;
    /*max-height: 600px;
    height: auto;*/
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 1em;
}

tr.scrambled,
tr.scrambled th,
pre.scrambled{
    background-color: Moccasin;
    border-color: #E57A3C;
}

div.tablecontainer{
    width: 900px;
    overflow: auto;
    /*max-height: 600px;
    height: auto;
    */
}
 
table { 
    font-family: Arial, sans-serif; 
    font-size: 0.8em; 
    background-color: white; 
    border-collapse:collapse; 
}

tr.changelog_row_style_1 { 
    background-color: #dfe8f6;
}

td,th { 
    border: 1px solid #4E78B1;
    padding: 3px; 
 }

th{
    color: #4E78B1;
    background-color: #dfe8f6; 
}

td.source{
    background-color: #dfe8f6; 
}

th.x_label, td.x_label,
th.x_timestamp_added, td.x_timestamp_added,  
th.x_last_confirmed, td.x_last_confirmed{ 
    display: none;
}
 
ul li {
    padding: 10px 0px 2px 0px;
    font-size: 1.35em;
    color: #4E78B1;
}

ul ul li {
    padding: 2px 0px 2px 0px;
    font-size: 1.15em;
    color: #4E78B1;
    margin: 2px;
}

ul ul ul ul li{
    display: inline;
    float: left;
}

 ul ul li a, ul ul ul ul li a{
    font-weight: bold;
    text-decoration: none;
    color: orange;
    background-color: Moccasin;
    margin: 2px;
    padding: 1px 5px 1px 5px;
    border: 1px solid orange;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }

ul ul li a:hover, ul ul ul ul li a:hover{
    background-color: orange;
    color: red;
}

 /*
ul.overview{
    border: 1px solid #4E78B1; 
    -moz-border-radius: 10px;
    border-radius: 10px;
}*/

ul.overview li{
    font-size: 1.0em;
}

ul.overview li a{
    font-size: 1.0em;
    font-weight: bold;
    text-decoration: none;
    color: #4E78B1;
}

ul.overview li a:hover{
   color: orange;
}

p.warning{
    border: 1px solid red; 
    background-color: pink; 
    color:red; 
    font-weight: bold; 
    text-align: center;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
}
