Source: yavdr-addon-performous
Section: misc
Priority: optional
Maintainer: Gerald Dachs <gda@dachsweb.de>
Uploaders: Holger Schvestka <hotzenplotz5@gmx.de>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7), cdbs

Package: yavdr-addon-performous
Architecture: all
Depends: ${yavdr-startup},${misc:Depends}, yavdr-utils, performous
Description: yavdr-addon-performous adds Performous to fbpanel/vdr-menu
  yavdr-addon-performous adds Performous to fbpanel/vdr-menu
