Source: yavdr-hardware-sundtek
Section: misc
Priority: optional
Maintainer: Gerald Dachs <gda@dachsweb.de>
Uploaders: Holger Schvestka <hotzenplotz5@gmx.de>
Standards-Version: 3.9.1
Build-Depends: cdbs, debhelper (>= 7.0.50~), yavdr-utils-dev, libtntnet-dev, clearsilver-dev, flex, dvb-driver-sundtek-dev, libjsoncpp-dev

Package: yavdr-hardware-sundtek
Architecture: any
Depends: ${misc:Depends}, yavdr-utils, dvb-driver-sundtek, vdr-plugin-sundtek
Description: yavdr-hardware-sundtek package to install and configure sundtek-driver for yavdr
 yavdr-sundtek-hardware package to install and configure sundtek-driver for yavdr
 


