Source: yavdr-utils-dev
Section: misc
Priority: extra
Maintainer: Gerald Dachs <gda@dachsweb.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://yavdr.origo.ethz.ch/

Package: yavdr-utils-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: yavdr-utils development headers
 yavdr-utils development headers
