.ext-ie6 .lirc,
.ext-ie7 .lirc { height:206px;}

.ext-ie6 .inputlirc,
.ext-ie7 .inputlirc { height:206px; }

.ext-ie7 .irserver,
.ext-ie7 .irserver { height:177px; }

.x-viewport, .x-viewport body {
    overflow: auto !important;
}

.x-grouptabs-panel {
    background-color: #4E78B1;
    padding: 120px 15px 15px 15px;
    background: url("images/yavdr_web_logo_1.png") no-repeat scroll 15px top transparent;
    border:0;
    
}

body {
    background-color: #4E78B1;
}

.frame-panel-border {
  border: 1px solid #99BBE8;
}

.selection-wrap{
  cursor: pointer;
  margin: 3px;
  padding: 6px;
  padding-left: 30px;
}
.selection-wrap .title {
  font-weight: bold;
}

.x-view-over{
  border:1px solid #dddddd;
  background: #efefef url(/ext/resources/images/default/grid/row-over.gif) repeat-x left top;
  padding: 5px;
  padding-left: 29px;
}

.x-view-selected{
  background: #eff5fb url(/static/images/icons/tick.png) no-repeat 5px center;
  border:1px solid #99bbe8;
  padding: 5px;
  padding-left: 29px;
}
