.ext-ie6 .lirc,
.ext-ie7 .lirc { height:206px;}

.ext-ie6 .inputlirc,
.ext-ie7 .inputlirc { height:206px; }

.ext-ie7 .irserver,
.ext-ie7 .irserver { height:177px; }

.x-viewport, .x-viewport body {
    overflow: auto !important;
}

.x-grouptabs-panel {
    background-color: #4E78B1;
    padding: 120px 15px 15px 15px;
    background: url("images/yavdr_web_logo_1.png") no-repeat scroll 15px top transparent;
    border:0;
    
}

body {
    background-color: #4E78B1;
}

.frame-panel-border {
  border: 1px solid #99BBE8;
}