#!/usr/bin/make -f
# debian/rules for the yavdr-startup package.

include /usr/share/cdbs/1/rules/debhelper.mk

VERSION_ID = $(shell echo $(DEB_UPSTREAM_VERSION) | sed 's/\+svn.*//')+svn$(shell date --utc +%0Y%0m%0d.%0k%0M)
get-orig-source::
	echo Downloading $(DEB_SOURCE_PACKAGE) $(VERSION_ID) from svn...
	svn export -q https://svn.origo.ethz.ch/yavdr/trunk/startup/yavdr-startup $(DEB_SOURCE_PACKAGE)-$(VERSION_ID)
	tar czf ../$(DEB_SOURCE_PACKAGE)_$(VERSION_ID).orig.tar.gz $(DEB_SOURCE_PACKAGE)-$(VERSION_ID)
	rm -rf $(DEB_SOURCE_PACKAGE)-$(VERSION_ID)
	dch -v "$(VERSION_ID)-1yavdr1" "New Upstream Snapshot" 


