#!/usr/bin/make -f
# debian/rules for the yavdr-startup package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# Use debhelper v4 features.
export DH_COMPAT=4

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)


build:
# Nothing to do

clean: 
	dh_testdir
	dh_testroot

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs


#	dh_install order.conf /etc/vdr/plugins
	dh_install etc-init/*.conf	/etc/init
	dh_install cpufrequtils /etc/default/
	dh_installdirs /var/log/vdr
	dh_install vdr-upstart /usr/sbin/
	dh_install Xsession.vdr /etc/X11/
	dh_install 30force-reload /etc/pm/sleep.d
	dh_install 20vdr_sleep /etc/pm/sleep.d
	dh_install 10vdr_module /etc/pm/config.d
	dh_install S90.suspend2ram /usr/share/vdr/shutdown-hooks
	dh_install lircrc /etc/lirc
	dh_install 50_custom /etc/grub.d
	dh_install issue /etc
	dh_install yavdr_logo.png	/usr/share/yavdr/images
	dh_install 10-dvb-remote.rules  /etc/udev/rules.d
	dh_install browser /usr/bin
	dh_install keymap /var/lib/vdr/.xine
	dh_install config /var/lib/vdr/.xine
	dh_install start-xine /usr/bin
	dh_install start-xbmc /usr/bin
	dh_install start-firefox /usr/bin
	dh_install start-xterm /usr/bin
	dh_install start-graphtft-fe /usr/bin
	dh_install noSignal4x3.mpg	/var/lib/vdr/plugins/xine
	dh_install noSignal16x9.mpg	/var/lib/vdr/plugins/xine
	dh_install nosignal.mpg		/usr/share/libxine1-xvdr			
	dh_install start-xineliboutput	/usr/bin
	dh_install rc.xml	/var/lib/vdr/.config/openbox
	dh_install externalplayer.conf	/etc/vdr/plugins


# Build architecture-independent files here.
binary-indep: build install
# Nothing to do

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot

	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean svnclean binary-indep binary-arch binary install
