#!/usr/bin/make -f
# debian/rules for the yavdr-startup package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# Use debhelper v4 features.
export DH_COMPAT=4

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)


build:
# Nothing to do

clean: 
	dh_testdir
	dh_testroot

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install scripts/mount-loader /usr/lib/vdr
	dh_installdirs /var/log/vdr
	dh_install images/yavdr_logo.png	/usr/share/yavdr/images
	dh_install images/noSignal4x3.mpg	/var/lib/vdr/plugins/xine
	dh_install images/noSignal16x9.mpg	/var/lib/vdr/plugins/xine
	dh_install images/nosignal.mpg		/usr/share/libxine1-xvdr			
	dh_install events/* /usr/share/yavdr/events
	dh_install templates/* /usr/share/yavdr/templates

# Build architecture-independent files here.
binary-indep: build install
# Nothing to do

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot

	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean svnclean binary-indep binary-arch binary install
