.ext-ie6 .lirc,
.ext-ie7 .lirc { height:206px;}

.ext-ie6 .inputlirc,
.ext-ie7 .inputlirc { height:206px; }

.ext-ie7 .irserver,
.ext-ie7 .irserver { height:177px; }


.x-grouptabs-panel {
    background-color: #4E78B1;
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    border-color: #4E78B1;
    padding-top: 120px;
    background-image: url('images/yavdr_web_logo_1.png');
    background-repeat: no-repeat;
    background-position:top left;
}