KERNEL=="dvb?.frontend?", SUBSYSTEM=="usb", ATTRS{vendor}=="*", ATTRS{device}=="*", PROGRAM="dvbmon_helper %s{idVendor} %s{idProduct}" , ENV{DVBMODULE}="%c"
