KERNEL=="dvb?.frontend?", SUBSYSTEM=="usb", ATTRS{idVendor}=="*", ATTRS{idProduct}=="*", PROGRAM="dvbmon_helper %s{idVendor} %s{idProduct}" , ENV{DVBMODULE}="%c"
