# restart vdr if dvb device added after vdr is running
KERNEL=="dvb?.frontend?", SUBSYSTEMS=="usb", ATTRS{vendor}=="*", ATTRS{device}=="*", PROGRAM="dvbmon_helper %s{vendor} %s{device}" , ENV{DVBMODULE}="%c"
