Source: yavdr-utils
Section: misc
Priority: extra
Maintainer: Gerald Dachs <gda@dachsweb.de>
Build-Depends: debhelper (>= 7), clearsilver-dev
Standards-Version: 3.8.4
Homepage: http://yavdr.origo.ethz.ch/

Package: yavdr-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: lirc
Conflicts: yavdr-startup
Description: Utilities and WEB front end for yaVDR
 Utilities and WEB front end for yaVDR (yet another VDR) a VDR distribution
 ready to run with near zero configuration effort.

Package: yavdr-utils-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: yavdr-utils development headers
 yavdr-utils development headers
